

<div class="container">

<div class="space"></div>

<table class="table table-borderd text-center">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Address</th>
       
    </tr>
    <tr *ngFor="let emp of empData">

        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.rating}}</td>
        <td>{{emp.address}}</td>
       
    </tr>

</table>

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>


<div class="card-deck">
    <div class="card">
      <img src="../../../../assets/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hans Van</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="../../../../assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Seleen</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="../../../../assets/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ana blug</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      
    </div>
</div>

<div class="space"></div>


<div class="card-deck">
    <div class="card">
      <img src="../../../../assets/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Melesia</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
     
    </div>
    <div class="card">
      <img src="../../../../assets/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tarek Kaderof</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    
    </div>
    <div class="card">
      <img src="../../../../assets/6.jpg" height="180px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sonata</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content .</p>
      </div>
     
    </div>
</div>

<div class="space"></div>










</div>