


table{

    width: 80%;
    margin: auto;
    background-color: rgb(236, 177, 100);

}


table tr:hover{
     
    background-color: rgb(233, 213, 188);
    transition: 1s;
}

.card-deck{

    width: 83%;
    margin: auto;
}



